ul.nav li a, ul.nav li a:visited {
  color: black !important;
}

ul.nav li a:hover, ul.nav li a:active {
  color: black !important;
}

ul.nav li.active a {
  color: black !important;
}

.info-page{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  border-radius: 2rem;
}

.pad-header{
  padding-top: 20px;
}

.sub-header{
  padding-left: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.plain-ul{
  list-style:none;
  padding-left:0;
  font-size: 20px;
}

.a-button{
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.a-button:hover{
  text-decoration: none;
  color:white;
}

