ul.nav li a, ul.nav li a:visited {
  color: black !important;
}

ul.nav li a:hover, ul.nav li a:active {
  color: black !important;
}

ul.nav li.active a {
  color: black !important;
}

.info-page{

  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  height: 100%;
  border: 2px solid black;
  height:auto;

        
}